* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	font-family: 'DM Sans';
}

.container {
	max-width: 1070px;
	margin: 0 auto;
}


.header {
	background-color: rgba(255, 113, 67, 0.27);
	padding: 42px 0px 42px;
}

.header__flex, .footer__flex, .about, .subscription {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__li {
	display: inline-block;
	 /* margin-right: 49px??? */
}

.nav__li:not(:first-of-type) {
	margin-left: 49px;
}

.nav__link {
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.468947px;
	color: #696871;
	text-decoration: none;
}

.nav__link:hover {
	color: #19191B;
	transition: 300ms;
}


.button {
	width: 212px;
	height: 60px;
	border-radius: 10px;
	border: none;

	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.531474px;

	cursor: pointer;
	color: #FFFFFF;
}

.button__orange {
	background-color: #FF7143;
}

.button__orange:hover{
	transition: 300ms;
	background-color: #ff875f;
}

.about {
	margin: 104px auto 85px;
}

.about__title {
	font-weight: bold;
	font-size: 80px;
	line-height: 77px;
	letter-spacing: -2.50105px;
	color: #19191B;
	max-width: 467px;
	margin-bottom: 30px;
}

.about__text {
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.625263px;
	color: #696871;
	max-width: 464px;
	margin-bottom: 50px;
}

.button__violete {
	background-color: #5454D4;
}

.button__transparent {
	background: none;
	color: #5454D4;
	border: 1px solid #5454D4;
	margin-left: 35px;
}

.input__email {
	width: 302px;
	height: 60px;
	background: none;
	border: 1px solid #7087FF;
	border-radius: 10px;
	box-sizing: border-box;
	margin-right: 39px;
}

.input__email::placeholder, .input__email {
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	color: #000;
}

.input__email[type="Email" i] {
	padding-left: 14px;
}


.sub__title {
	font-size: 50px;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: -1.56316px;
	color: #19191B;
	margin-bottom: 38px;
	max-width: 556px;
}

.subscription {
	margin-bottom: 85px;
}

.plan__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: -1.87579px;
	color: #19191B;
	max-width: 504px;
	margin-bottom: 110px;
}

.plan__prices {
	max-width: 330px;
	max-height: 440px;
	background: #F8F8F8;
	text-align: center;
	padding-top: 34px;
	padding-bottom: 27px;
	padding-left: 22px;
	padding-right: 22px;
	border-radius: 10px;
	color: #1D293F;

}



.plan__prices p {
	font-family: 'Mulish';
	font-size: 18px;
	margin-bottom: 22px;
	line-height: 50px;
	letter-spacing: -0.531474px;
	/* color: #696871; */
}

.plan__prices	h3{
	font-size: 60px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: -1.03448px;
	margin-bottom: 28px;
}


.plan__prices:hover {
	background: #FF7143;
	transition: 300ms;
	color: #fff;
	box-shadow: 0px 32px 34px 0px rgba(255, 112, 59, 0.3178);
	
}

.button__plan:hover{
	background: rgba(159, 57, 25, 1);
	color: #fff;
	transition: 300ms;
}

.small {
	font-size: 28px;
	font-weight: 700;
	color: #1D293F;
}

.plans {
	display: flex;
	justify-content: space-between;
}

.button__plan {
	width: 284px;
	height: 60px;
	background: #fff;
	color: #5454D4;
}

.plan {
	margin-bottom: 132px;
}

.footer {
	background-color: rgba(255, 113, 67, 0.27);
	padding: 53px 0px 53px;
}
